*
!.gitignore
!.env.txt
!GUI介面模組.py
!工具模組.py
!交易環境模組.py
!批次切分與批次訓練.py
!信號生成模組.py
!風險優化.py
!訓練主控.py
!推播通知模組.py
!規格書最終版.docx
!設定檔.py
!最佳參數推送模組.py
!測試報模組.py
!超參數搜尋模組.py
!搜尋結果查詢與繪圖分析模組.py
!資料預處理模組.py
!模擬交易模組.py
!獎勵計算模組.py
!績效分析模組.py
!關係圖.docx
!規格書最終版.txt
!關係圖.txt